body {
	font-family: "Arial", "Helvetica", sans-serif;
}

.buttons button,
.buttons a,
.buttons label {
	margin: 5px;
	padding: 10px;
	background: #efefef;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
}

.buttons .active {
	background: #6c9;
	border-color: green;
}

.cke_button_icon {
	display: inline-block;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	background: rgba(0, 0, 0, 0.2);
}