body {
	font-family: "Arial", "Helvetica", sans-serif;
}

.buttons button,
.buttons a,
.buttons label {
	margin: 5px;
	padding: 10px;
	background: #efefef;
	border: 1px solid #ccc;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
}

.buttons .active {
	background: #fee;
	border-color: red;
}