body {
	font-family: "Arial", "Helvetica", sans-serif;
}

.header, .footer {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #efefef;
}

.header:before {
	content: 'Header';
}

.footer:before {
	content: 'Footer';
}

.content {
	border: 1px solid #efefef;
}